<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/08071497d5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/color_edit.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>Payment Edit</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-option" id="project-nav"><a style="font-size: 1.25em" class="active" href="/projects">Projects</a></li>
                <li class="nav-option" id="payment-nav"><a style="font-size: 1.25em" href="/payments">Payments</a></li>
                <li class="nav-option" id="supplier-nav"><a style="font-size: 1.25em" href="/suppliers">Suppliers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./LogoutServlet">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="sub-nav">
            </ul>
        </div>
    </div>
</nav>



{{#if action_edit}}
    <h3>Color Edit</h3>
{{else}}
    <h3>Create Color</h3>
{{/if}}
</div>
<div class="container">
    <div class="row">
        <div class="col col-lg-12">
            <form>
<!---->
                <div class="form-group">
                    <label for="project_id">Project</label>
                    <select id="project_id" class="form-control" value="{{data.project_id}}">
                        <option value="">-- Select</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="manufacture">Manufacture</label>
                    <input type="text" class="form-control" id="manufacturer" placeholder="Enter Manufacture" value="{{data.manufacturer}}">
                </div>

                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" class="form-control" id="code" placeholder="Enter Code" value="{{data.code}}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Enter Description" value="{{data.description}}">
                </div>

                <button id="submit-edit-color" type="button" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>