<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/08071497d5.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/supplier.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>Project Info</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a style="font-size: 1.25em" href="/projects">Projects</a></li>
                <li><a style="font-size: 0.85em;" href="/project/create">Add Project</a></li>
                <li><a style="font-size: 1.25em" href="/payments">Payments</a></li>
                <li><a style="font-size: 0.85em" href="/payment">Add Payment</a></li>
                <li><a style="font-size: 1.25em" href="/suppliers">Suppliers</a></li>
                <li><a style="font-size: 0.85em" href="/supplier/create">Add Supplier</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="./LogoutServlet">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col col-lg-8">
            <h3>Supplier Info</h3>
            <span><i id="edit-supplier" class="fa fa-edit icon-clickable" style="float:right; font-size: 1.25em; padding-bottom: 10px;"></i></span>
            <table class="table table-striped rounded">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{info.id}}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{info.title}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{info.type}}</td>
                    </tr>
                    <tr>
                        <th>Contact Name</th>
                        <td>{{info.contact_name}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{info.address}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{info.phone}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{info.email}}</td>
                    </tr>
                    <tr>
                        <th>Created Date</th>
                        <td>{{info.adate}}</td>
                    </tr>
                    <tr>
                        <th>Edited Date</th>
                        <td>{{info.edate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-4">
            <h4>Commissions</h4>
            <span><i id="add-commission" class="fa fa-plus-circle icon-clickable" style="float:right; font-size: 1.25em;"></i></span>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Bought Date</th>
                    <th scope="col">Payed?</th>
                    <th scope="col">Payed Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {{#each commissions}}
                    <tr class="commission-row">
                        <th id="id" scope="row">{{id}}</th>
                        <td>{{item_description}}</td>
                        <td>{{amount}}</td>
                        <td>{{bought_date}}</td>
                        <td>{{is_payed}}</td>
                        <td>{{payed_date}}</td>
                        <td><i class="fa fa-money-bill icon-clickable commission-payed"></i></td>
                        <td><i class="fa fa-edit icon-clickable edit-commission" style="float:right"></i></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>